
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}
:root{
    --bg-color: #c1d8f0;
    --second-bg-color: #505050;
    --text-color: #fff;
    --main-color: rgb(0, 168, 235);
}

html{
    font-size: 62.5%;
    overflow: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2.5rem;
    color: var(--second-text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: #4663ac;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #fff;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #fff;
    font-size: 1.6rem;
    color: #4663ac;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
  }
  .btn:hover{
    box-shadow: 0 0 7rem #fff;
  }

.heading{
    margin-top: 90px;
  text-align: center;
  font-size: 4.5rem;
  color: #4663ac;
}
.services h2{
    margin-bottom: 5rem;
}
.services-container{
    margin-right: 150px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box{
    flex: 1 1 30rem;
    background: rgb(255, 186, 58);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
}

.services-box i{
    font-size: 7rem;
    color: #4663ac;
}
.services-box h3{
    font-size: 2.6rem;
}
.services-box p{
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
}
@media(max-width: 700px){
    .scroll-container {
        width: 500px;
        height: 100vh;
        border: 1px solid #ffffff;
        overflow: auto;
        padding: 10px;
    }
    .navbar{
        margin-top: 10px;
    }
    .logo{
        font-size: 2rem;
        margin: 10px 15px 0;
    }
    .scroll-container::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
    
    .scroll-container::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
        border: 2px solid #fff;
    }
    
    .scroll-container::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }
    .header{
        padding: 2rem  3%;
    }
    .heading{
        margin-top: 5px;
      font-size: 3.5rem;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .services-container{
        margin-right:50px;
        margin-left: 50px;
        align-items: center;
    }
    .services-container .services-box{
        flex: 1 1 3rem;
    }
}
